.header {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  padding: 12px;
  border-radius: var(--main-br);
  background: var(--primary);
  color: var(--font-color);
  min-height: 100vh;
  height: auto;
}

.heroSection {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 64px;
}

.logoContainer {
  width: 2em;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  display: none;
  cursor: pointer;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.listItem {
  font-size: clamp(1.125rem, calc(0.563rem + 1.172vw), 1.5rem);
}

.navLink {
  text-decoration: none;
  color: var(--font-color);
  border-radius: 8px;
  padding: 8px 16px;
}

.navLink:hover {
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.fotoWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.fotoWrapper::after {
  content: '';
  position: absolute;
  z-index: 1;
  inset: 4px;
  pointer-events: none;
  border-radius: var(--main-br);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25));
}

.mainFoto {
  width: 100%;
  border-radius: var(--main-br);
}

.tableMen,
.tableWomen {
  position: absolute;
  top: 32px;
  z-index: 2;
  width: clamp(14rem, 24%, 20rem);
}

.tableMen {
  left: 5%;
}

.tableWomen {
  right: 5%;
}

@media (max-width: 1135px) {
  .fotoWrapper {
    display: flex;
  }

  .mainFoto {
    max-width: 100%;
  }

  .tableMen,
  .tableWomen {
    position: static;
    width: auto;
    transform: none;
  }
}

@media (max-width: 480px) {
  .fotoWrapper {
    display: block;
  }

  .mainFoto {
    display: block;
  }
}

@media (max-width: 768px) {
  .burger {
    display: block;
    cursor: pointer;
    width: 50px;
    z-index: 999;
  }

  .navigation {
    position: fixed;
    top: 0;
    right: -100%;
    background: #222;
    width: 80%;
    max-width: 320x;
    height: 100vh;

    transition: right 0.4s ease-in-out;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    z-index: 998;
    align-items: center;
    justify-content: center;
  }

  .navigation.open {
    right: 0;
  }

  .list {
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 997;
    backdrop-filter: blur(4px);
  }
}
