/* .footer {} */

.title {
  font-size: 22px;
  color: var(--font-color);
  text-align: center;
  margin: 12px;
}

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 16px;
}

.footerImg {
  width: clamp(5rem, calc(3.917rem + 5.417vw), 8.25rem);
  border-radius: var(--main-br);
}

.info {
  width: 100vw;
  background-color: var(--footer-color);
  color: var(--footer-font);
  padding: 24px;
  display: flex;
  justify-content: center;
}

@media (max-width: 320px) {
  .sponsors {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
}
